--prefer-binary
flask==2.0.3
werkzeug==2.0.3
sentence-transformers==2.2.2
torch==1.13.1  # Lightweight version for Render's 512MB RAM
scikit-learn==1.0.2
gunicorn==20.1.0
numpy==1.23.5
huggingface_hub==0.19.4  # Compatible with `sentence-transformers`
transformers==4.37.2