--prefer-binary
flask==2.0.3
werkzeug==2.0.3
sentence-transformers==2.2.2
huggingface_hub==0.16.4  # Compatible version with `hf_hub_download`
transformers==4.37.2     # Compatible with `huggingface_hub>=0.16.4`
torch==2.1.2
scikit-learn==1.3.2
gunicorn==20.1.0
numpy==1.26.0